<div class="centered-items-flex-container flex-column">
    <img src="https://via.placeholder.com/150x30/2c2c2c/ffffff?text=LOGO_EMPRESA" alt="logo_template"/>

    <form class="d-flex flex-column pt-5 m-2">
        <div class="form-group">
            <label for="email-input">E-mail</label>
            <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Nunca forneceremos seu e-mail com ninguém :)</small>
        </div>

        <div class="form-group pt-4">
            <label for="senha-input">Senha</label>
            <input type="password" class="form-control" id="senha-input">
        </div>

        <div class="d-flex justify-content-center m-3 pt-4 pb-4">
            <button type="button" class="btn btn-primary">Fazer login</button>
        </div>
        <hr/>
    </form>

    <div class="m-2 d-flex justify-content-between">
        <a href="#" routerLink="/password-recover">Esqueci minha senha</a>

        <p>Ainda não tem conta? <a href="#" routerLink="/register">Cadastre-se</a></p>

    </div>
</div>
