<div class="template-banner bg-theme-blue text-white">
    _Blog Framework Digital
</div>

<div class="container d-flex flex-wrap justify-content-between"> <!-- TODO: ngFor... -->
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
    <app-blog-post-frame></app-blog-post-frame>
</div>

