<div class="centered-items-flex-container flex-column m-2">

    <div class="m-2 d-flex justify-content-center">
        <h2>Recuperação de Senha</h2>
    </div>
    <p>Não há um servidor de e-mails disponível para enviar e-mails para cadastrar nova senha,
    mas pode utilizar a senha 1234 para simular um reset bem sucedido após clicar no botão :)</p>

    <form class="m-2">
        <div class="form-group pt-4">
            <label for="email-input">E-mail</label>
            <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp">
        </div>

        <div class="d-flex justify-content-center m-3 pt-4 pb-4">
            <button type="button" class="btn btn-primary">Redefinir minha senha</button>
        </div>
    </form>

    <div class="m-2">
        <a href="#" routerLink="/login">Voltar</a>
    </div>
</div>
